article {
	flex-basis: 70%;
	border: 1px solid #fffafa25;
	border-radius: 5%;
	margin-right: 15px;
}
aside {
	flex-basis: 25%;
	border: 1px solid #fffafa25;
	border-radius: 5%;
	margin-left: 15px;
}
article, aside{
	background-color: #fffafa25;
	box-shadow: 1px 1px #404040;
	flex-shrink: inherit;
	overflow-y: auto;
	height: 72vh;
}
.date {
	/* flex-basis: 28%; */
	padding: 10px;
}
.concept {
	/* flex-basis: 38%; */
	padding: 10px;
}
.mood {
	/* flex-basis: 18%; */
	padding: 10px;
}
.instructor {
	/* flex-basis: 18%; */
	padding: 10px;
}
.textArea {
	display: flex;
	flex-direction: column;
	flex-basis: 95%;
	margin-top: 30px;
	padding: 10px;
}
textarea {
	width: 95%;
	align-self: center;
	height: 35vh;
	padding: 10px;
}
.entryForm {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.entryForm > div > label {
	display: block;
}

label{
	margin-bottom: 5px;
	font-size: 1.20em;
	text-shadow: 2px 2px #ffffffbd;
	font-weight: bold;
}
button{
	margin-top: 10px;
	border: 1px solid black;
}
.background{
	background-color: #ffffffbd ;
	border: 1px solid #ffffffbd;
	box-shadow: 1px 1px #404040;
	border-radius: 25px;
}
.journalEntry{
	margin: 20px 0;
	border-top: 1px solid #40404098;
	border-bottom: 1px solid #40404098;
}
.entryMargin{
	margin: 1px 0;
}
.savedEntryContainer{
	padding: 0 10px;
}
#mood{
	height: 25px;
}
#instructor{
	height: 25px;
}
#concept{
	width: 215px;
}