header {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin: 20px auto;
}

.logo {
	width: 125px;
	height: 125px;
	align-self: center;
}

h1 {
	flex-basis: 70%;
	text-align: right;
	font-size: 5em;
	margin: 0;
    align-self: center;
}