header {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin: 20px auto;
}

.logo {
	width: 125px;
	height: 125px;
	align-self: center;
	padding: 20px;
	background-color: #fffafa25 ;
	border: 1px solid #fffafa25;
	box-shadow: 1px 1px #404040;
	border-radius: 30px;
}

h1 {
	flex-basis: 70%;
	text-align: right;
	font-size: 5em;
	margin: 0;
	align-self: center;
	text-shadow: 3px 3px #ffffffbd;
}