@import "./header.css";
@import "./article-aside.css";
@import "./footer.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/


body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

html {
	height: 100%;
}

h2 {
	font-size: 2em;
	text-align: center;
	text-shadow: 2px 2px #ffffffbd;
	position: sticky;
	top: 20px;
}

main {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

body {
	margin: 0;
	background-color: #d8d64b;
	height: 100%;
}